<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<div class="container">

    <div class="container">


        <div th:if="${not #lists.isEmpty(artists)}">
            <h2>artist List</h2>
            <table class="table table-striped ">
                <tr class="table-warning">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="artist : ${artists}">
                    <td th:text="${artist.id}">Id</td>
                    <td th:text="${artist.name}">Name</td>
                    <td th:text="${artist.description}">Description</td>
                    <td><a th:href="${'/artists/'+artist.id}">View</a></td>
                    <td><a th:href="${'/artists/edit/'+artist.id}">Edit</a></td>
                    <td><a th:href="${'/artists/delete/'+artist.id}">Delete</a></td>
                </tr>
            </table>

        </div>
    </div>
</div>
</body>
</html>