<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>
<div class="container">


    <div th:if="${not #lists.isEmpty(events)}">
        <h2>Events List</h2>
        <table class="table table-hover">
            <tr class="table-warning">
                <th>Id</th>
                <th>Date</th>
                <th>Time</th>
                <th>Name</th>
                <th>City</th>
                <th>Street</th>
                <th>Cinema</th>
                <th>theater</th>
                <th>price</th>
                <th>movie</th>
                <th>Free seats</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="event : ${events}">
                <td th:text="${event.id}">Id</td>
                <td th:text="${event.getDate()}">Date</td>
                <td th:text="${event.getTime()}">Time</td>
                <td th:text="${event.getMovie().getName()}">movie</td>
                <td th:text="${event.theater.getCinema().getCity()}">City</td>
                <td th:text="${event.theater.getCinema().getAddress()}">Street</td>
                <td th:text="${event.theater.getCinema().getName()}">Cinema</td>
                <td th:text="${event.theater.getId()}">theater</td>
                <td th:text="${event.price}">price</td>
                <td th:text="${event.getSeat().getNumFreeSeats()}">Number of free seats</td>
                <td><a th:href="${'/event/delete/'+event.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>
<div class="col-md-offset-9 col-xs-2">
    <div style="text-align: center;" class="alert alert-danger" th:if="${error}" th:utext="${error}"></div>
</div>
</body>
</html>