<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <th:block th:include="fragments/headerinc :: head"></th:block>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
     <link th:href="@{/css/events/movievents.css}" rel="stylesheet"/>
    <script th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>
<script th:src="@{/js/movies/movie-event.js}"></script>
<div class="content">
    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6">
            <div class="description">
                <div class="panel">
                    <div class="panel-heading">
                        Create movie event
                    </div>
                    <div class="panel-body">
                        <form th:object="${movieEvent}" th:action="@{/event/movies/table}" method="post">

                            <div class="form-group">
                                <label class="control-label " for="Cinemas">Cinema</label>
                                <select class="form-control" th:field="${cinemas}" id="cinemas">
                                    <option th:each="cinema : ${cinemas}"
                                            th:value="${cinema.id}"
                                            th:text="${cinema.name}"></option>
                                </select>
                            </div>
                            <div id="theaterSelectHolder">
                            </div>
                            <div class="form-group">
                                <label class="control-label " for="movies">Movie</label>
                                <select class="form-control" th:field="*{movie}" id="movies">
                                    <option th:each="movie : ${movies}"
                                            th:value="${movie.id}"
                                            th:text="${movie.name}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Price:</label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input class="form-control" th:field="*{price}" type="text" placeholder="Price"
                                           id="price"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label"> Date:</label>
                                <div id="datepicker"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label"> Time:</label>
                                <input type="time" id="timepicker">
                            </div>
                            <div class="form-group">
                                <button id="submit" type="submit" class="btn btn-primary" name="submit">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>