<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>GoEvent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>


<div th:fragment="theatersFragment" id="theaterSelect">
    <div class="form-group">
        <label class="control-label" for="theater">Theater</label>
        <select class="form-control" id="theater" th:field="*{theaters}">
            <option th:each="theater : ${theaters}"
                    th:value="${theater.id}"
                    th:text="${theater.id}"/>
        </select>
    </div>


</div>


</body>
</html>