<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<div class="container">

    <div th:if="${not #lists.isEmpty(cinemas)}">
        <h2>Cinema List</h2>
        <table class="table table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Address</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="cinema : ${cinemas}">
                <td th:text="${cinema.id}">Id</td>
                <td th:text="${cinema.name}">Name</td>
                <td th:text="${cinema.city}">City</td>
                <td th:text="${cinema.address}">Address</td>
                <td><a th:href="${'/cinema/'+cinema.id}">View</a></td>
                <td><a th:href="${'/cinema/edit/'+cinema.id}">Edit</a></td>
            </tr>
        </table>

    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>