<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>
<div class="container">


    <div th:if="${not #lists.isEmpty(movies)}">
        <h2>Movie List</h2>
        <table class="table table-striped ">
            <tr class="table-warning">
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <!--<th>Price</th>-->
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.id}">Id</td>
                <td th:text="${movie.name}">Name</td>
                <td th:text="${movie.description}">Description</td>
                <!--<td th:text="${product.price}">price</td>-->
                <td><a th:href="${'/movie/'+movie.id}">View</a></td>
                <td><a th:href="${'/movie/edit/'+movie.id}">Edit</a></td>
                <td><a th:href="${'/movie/delete/'+movie.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>