  <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <link th:href="@{/css/stylemanager.css}" rel="stylesheet"/>
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>


<body>
<!--<div class="container">-->
<th:block th:include="fragments/header :: header"></th:block>
<!--</div>-->
<div class="container">

    <div class="panel">
    <div class="panel-heading">
            <h3 class="panel-title">Movies</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a th:href="@{/movie/new}">Create movie</a></li>
            <li class="list-group-item"><a th:href="@{/movies}">List of movies</a></li>
            <li class="list-group-item"><a th:href="@{/event/movie/new}" >Create movie event</a></li>
            <li class="list-group-item"><a th:href="@{/event/movies/table}" >List of movies event</a></li>
        </ul>
    </div>


    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Cinema</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a th:href="@{/cinema/new}">Create Cinema</a></li>
            <li class="list-group-item"><a th:href="@{/cinemas}">List of Cinema</a></li>
        </ul>
    </div>


    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">LiveShow</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a th:href="@{/movie/new}" >Create LiveShow</a></li>
            <li class="list-group-item"><a th:href="@{/movies}" >List of LiveShow</a></li>
            <li class="list-group-item"><a th:href="@{/event/liveshow/new}">Create live show event</a></li>
        </ul>
    </div>



</div>


</body>
</html>
