<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <link th:href="@{/css/stylemanager.css}" rel="stylesheet"/>
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>


<body>
<!--<div class="container">-->
<th:block th:include="fragments/header :: header"></th:block>
<!--</div>-->
<div class="container">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Movies</div>
                </div>
                <ul class="panel-body">
                    <li class="list-group-item"><a th:href="@{/movie/new}">Create Movie</a></li>
                    <li class="list-group-item"><a th:href="@{/movies}">List Of Movies</a></li>
                    <li class="list-group-item"><a th:href="@{/event/movie/new}">Create Movie Event</a></li>
                    <li class="list-group-item"><a th:href="@{/event/movies/table}">List Of Movies Event</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Cinema</div>
                </div>
                <ul class="panel-body">
                    <li class="list-group-item"><a th:href="@{/cinema/new}">Create Cinema</a></li>
                    <li class="list-group-item"><a th:href="@{/cinemas}">List Of Cinema</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Artists</div>
                </div>
                <ul class="panel-body">
                    <li class="list-group-item"><a th:href="@{/artists/new}">Create Artists</a></li>
                    <li class="list-group-item"><a th:href="@{/artists/lists}">List Of Artists</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">LiveShow</div>
                </div>
                <ul class="panel-body">
                    <li class="list-group-item"><a th:href="@{/liveshows/new}">Create Live Show</a></li>
                    <li class="list-group-item"><a th:href="@{/liveshows/lists}">List Of Live Show</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-5">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Manager</div>
                </div>
                <ul class="panel-body">
                    <li class="list-group-item"><a th:href="@{/invitations}">List of the invitations</a></li>
                    <li class="list-group-item"><a th:href="@{/users}">List Of the users</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
