<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <th:block th:include="fragments/headerinc :: head"></th:block>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/form.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<script th:src="@{/js/liveShows/liveShow-form.js}"></script>

<th:block th:include="fragments/header :: header"></th:block>
<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <h2>Create Live Show</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" th:object="${liveShow}">

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="artists">Artist</label>
                    <div class="col-sm-2">
                    <select class="form-control" id="artists">
                        <option th:each="artist: ${artists}"
                                th:value="${artist.id}"
                                th:text="${artist.name}"></option>
                    </select>
                    </div>

                    <label class="col-sm-2 control-label" for="artists">Location</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="locations">
                            <option th:each="location: ${locations}"
                                    th:value="${location.id}"
                                    th:text="${location.location}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Standing places:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="places" th:value="${liveShow.stand}"/>
                    </div>
                    <label class="col-sm-2 control-label">Cost:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="costStanding" th:value="${liveShow.costStanding}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Seating places:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="numSeating" th:value="${liveShow.getSeat().getNumSeats()}"/>
                    </div>
                    <label class="col-sm-2 control-label">Cost:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="costSeating" th:value="${liveShow.costSeating}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" th:value="${liveShow.getTime()}">Time:</label>
                    <div class="col-sm-2">
                        <input type="time" class="form-control" id="time" />
                    </div>
                    <div class="col-sm-1">
                    </div>
                        <div class="col-sm-3">
                        <div id="datepicker"></div>
                        </div>
                </div>


                <div class="form-group">
                    <div id="response" class="col-sm-8">
                        <div th:fragment="errorFragment" id="error">
                            <div class="alert alert-danger" th:if="${error}" th:utext="${error}"></div>
                        </div>
                    </div>
                    <div>
                    <button id="submit" type="button" class="btn btn-primary" name="submit">Submit</button>
                    </div>
                    <br>
                    <div class="col-md-offset-7 col-sm-4">
                        <div style="text-align: center;" id="note" class="alert alert-danger" hidden></div>
                        <div id="noteSuccess" class="alert alert-danger" hidden></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>