<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<div class="container">

    <div th:if="${not #lists.isEmpty(liveShows)}">
        <h2>Live Shows List</h2>
        <table class="table table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Seats Number</th>
                <th>Stands Number</th>
                <th>Date</th>
                <th>Time</th>
                <th>Rest</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="liveShow : ${liveShows}">
                <td th:text="${liveShow.id}">Id</td>
                <td th:text="${liveShow.artist.getName()}">Name</td>
                <td th:text="${liveShow.location.getLocation()}">Location</td>
                <td th:text="${liveShow.getSeat().getNumFreeSeats()}">Seats Number</td>
                <td th:text="${liveShow.stand}">Stands Number</td>
                <td th:text="${liveShow.date}">Date</td>
                <td th:text="${liveShow.time}">Time</td>
                <td><a th:href="${'/liveshows/restseats/'+liveShow.id}"></a></td>
                <td><a th:href="${'/liveshows/edit/'+liveShow.id}">Edit</a></td>
                <td><a th:href="${'/liveshows/delete/'+liveShow.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>